@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

// https://www.schemecolor.com/muted-rainbow-2.php
// Changed d8, low contrast.
$d4-color: #a75051;
$d6-color: #b27d58;
$d8-color: #8F8C2D;
$d10-color: #589a5d;
$d12-color: #4781a7;
$d20-color: #746198;

body {
    font-family: 'Lora', serif;
}

h1,
h2,
h3 {
    font-weight: 300 !important;
    line-height: 1.2 !important;
}

h1 {
    font-size: calc(1.375rem + 1.5vw) !important;
}

h2 {
    font-size: calc(1.1rem + 1.5vw) !important;
}

h3 {
    font-size: calc(1rem + 1.5vw) !important;
}

// DICE COLORS
.die-badge {
    border: 1px solid lightgray !important;
}

.d4 {
    color: $d4-color !important;
}

.d4-bg {
    background-color: $d4-color !important;
}

.d6 {
    color: $d6-color !important;
}

.d6-bg {
    background-color: $d6-color !important;
}

.d8 {
    color: $d8-color !important;
}

.d8-bg {
    background-color: $d8-color !important;
}

.d10 {
    color: $d10-color !important;
}

.d10-bg {
    background-color: $d10-color !important;
}

.d12 {
    color: $d12-color !important;
}

.d12-bg {
    background-color: $d12-color !important;
}

.d20 {
    color: $d20-color !important;
}

.d20-bg {
    background-color: $d20-color !important;
}